<div class="container d-flex justify-content-center mt-50 mb-50">

  <div class="row">
    <div *ngFor="let p of products; let i = index" class="col-md-4 mt-2">
      <div class="card">
          <div class="card-body">
              <div class="card-img-actions">
                  <img src="{{p.image}}"
                      class="card-img img-fluid" width="96" height="350" alt="{{p.title}}">
              </div>
          </div>

          <div class="card-body bg-light text-center">
              <div class="mb-2">
                  <h6 class="font-weight-semibold mb-2">
                      <a href="#" class="text-default mb-2" data-abc="true">{{p.title}}</a>
                  </h6>

                  <a href="#" class="text-muted" data-abc="true">{{p.category}}</a>
              </div>

              <h3 class="mb-0 font-weight-semibold">${{p.price}} USD</h3>

              <div class="text-muted mb-3">{{p.rating.rate}} Ratings {{p.rating.count}} reviews</div>

              <button type="button" (click)="addToCart(p)" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to cart</button>


          </div>
      </div>
  </div>

  </div>
</div>